.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json
node_modules/
dist/
out/
**/src/generated
syntaxes/
*.tsbuildinfo
*.vsix
.DS_Store
learning.md
packages/language/test/test-cases/output.tvbc
.claude/
.claude/settings.local.json
